.mainContainer{
  width: 100vw;
  display: inline-flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

@media(max-width: 600px){
  .mainContainer{
    display: grid;
    min-height: 100vh;
    overflow: auto;
  }
}

